
.storybook-button {
  color: #fff;
  background-color: #E85B2A;
  font-size: 12px;
  font-weight: bold;
  border: 0;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  padding: 18px 48px;
  border-radius: 60px;
}
